<!-- 
<p>{{mytext}}</p>

<p>{{test[0].type}}</p>

<p>{{obj[0].type}}</p>
-->

<ng-container *ngFor="let component of obj">
    <ng-container *ngIf="component.type">
        <ng-container [ngSwitch]="component.type">
    
            <!-- Emphasis -->
            <ng-container *ngSwitchCase="'text'" > 
                <div>{{component.components[0].content}}
                </div>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="component.tagName">
        <ng-container [ngSwitch]="component.tagName">
    
            <!-- Emphasis -->
            <ng-container *ngSwitchCase="'input'" > 
                <input placeholder="Type here your name1"/>
            </ng-container>
        </ng-container>
    </ng-container>
   
</ng-container>



